<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="cn.edu.shu.xj.ser.mapper.GamerInfoMapper">-->
<!--&lt;!&ndash;    <select id="selectGamerInfoNameByName" resultType="cn.edu.shu.xj.ser.entity.GamerInfo">&ndash;&gt;-->
<!--&lt;!&ndash;        select * from gamer_info where nick_name = #{nick_name}&ndash;&gt;-->

<!--&lt;!&ndash; </select>&ndash;&gt;-->

<!--&lt;!&ndash;    <update id="updateGamerInfoNameByName">&ndash;&gt;-->
<!--&lt;!&ndash;        update gamer_info set nick_name =#{nick_name}&ndash;&gt;-->
<!--&lt;!&ndash;</update>&ndash;&gt;-->

<!--&lt;!&ndash;    <insert id="insertage">&ndash;&gt;-->
<!--&lt;!&ndash;        insert into gamer_info value(#{age})&ndash;&gt;-->
<!--&lt;!&ndash;</insert>&ndash;&gt;-->
<!--&lt;!&ndash;    <resultMap id="selectGamerInfoNameByName" type="cn.edu.shu.xj.ser.entity.GamerInfo">&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="business_id" property="business_id"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="business_name" property="business_name"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="business_pwd" property="business_pwd"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="business_ipone" property="business_ipone"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="total_sales" property="total_sales"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="start_fee" property="start_fee"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="stars" property="stars"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="registration_time" property="registration_time"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="business_pic" property="business_pic"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column="businee_detail" property="businee_detail"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </resultMap>&ndash;&gt;-->

<!--</mapper>-->